*{
    margin: 0px;
}

#cabecero {
    /*display: inline-block;*/
    width: 100%;
    /*background-image: url("https://wallpapercave.com/wp/VKSFykv.jpg");*/
}



h1 {
background-color: rgb(233, 232, 230);
    display: inline-block;
    margin-left: 500px;
    
}

a {
   font-style: italic;
}

/*-------imagen body--------*/
body{
     /* background-image: url(../imagenes/fondo-header.jpg) ; */
    background-color: rgb(237, 240, 240);
} 
 

#cabecero .redes {
    display: inline;

}

#cabecero .redes .ingresar{
    float:right ;
    margin-top: -25px ;
}

#cabecero .redes li{
    display: inline-block;
    justify-content:space-between ;
    list-style-type: none;

}

#cabecero .redes .in {
    float: right;
}

#cabecero .redes li img{
    width: 40px;

}

.center img {
  margin-left: 230px;
}



.imagen-size img {
    width: 240px;

}

.imagen-size {
     margin-left: 300px;
   
}

.titulo-h2 {
    text-align: center;
 }

h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: x-large;
    background-color: rgb(226, 224, 223);
}

.ofertas {
    text-align: center;
}

.terminos {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}


    /* ------footer-----*/

footer img{
    width: 40px;
    float:left; 
}










