footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  .info-contacto p {
    margin: 5px 0;
  }
  
  .redes-sociales {
    margin-top: 20px;
  }
  
  .redes-sociales a {
    display: inline-block;
    margin: 0 10px;
  }
  
  .redes-sociales img {
    width: 30px;
  }